{
  "*.{js,jsx,ts,tsx}": [
    "node ./node_modules/prettier/bin/prettier.cjs --cache --ignore-unknown --write",
    "node ./node_modules/eslint/bin/eslint.js --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,npm,nvm})*rc}": [
    "node ./node_modules/prettier/bin/prettier.cjs --cache --write --parser json"
  ],
  "package.json": [
    "node ./node_modules/prettier/bin/prettier.cjs --cache --write"
  ],
  "*.vue": [
    "node ./node_modules/prettier/bin/prettier.cjs --write",
    "node ./node_modules/eslint/bin/eslint.js --cache --fix",
    "node ./node_modules/stylelint/bin/stylelint.mjs --fix --allow-empty-input"
  ],
  "*.{css,scss,html}": [
    "node ./node_modules/prettier/bin/prettier.cjs --cache --ignore-unknown --write",
    "node ./node_modules/stylelint/bin/stylelint.mjs --fix --allow-empty-input"
  ],
  "*.md": [
    "node ./node_modules/prettier/bin/prettier.cjs --cache --ignore-unknown --write"
  ]
}
