/* Apply to a wrapper around an INLINE SVG. */
[data-terrain-theme="dark"] {
  --terrain-bg: #2e3a40;
  --mountain-far: #435158;
  --mountain-main: #a7c1b4;
  --mountain-middle: #708e88;
  --mountain-front: #14595c;
  --contour-far: #7d969c;
  --contour-main: #e4eed7;
  --contour-middle: #d0ddc5;
  --contour-front: #76b6b1;
}

[data-terrain-theme="light"] {
  --terrain-bg: #edf3f1;
  --mountain-far: #cbd9d7;
  --mountain-main: #9fbbb0;
  --mountain-middle: #74998d;
  --mountain-front: #316f70;
  --contour-far: #92aaa9;
  --contour-main: #eef4e9;
  --contour-middle: #dce8d4;
  --contour-front: #a3cfca;
}

[data-terrain-theme="blue"] {
  --terrain-bg: #eff3f8;
  --mountain-far: #cbd5e3;
  --mountain-main: #a1b6d0;
  --mountain-middle: #6e8ead;
  --mountain-front: #345978;
  --contour-far: #95a8c2;
  --contour-main: #e8f0f8;
  --contour-middle: #c8dbe9;
  --contour-front: #9ebed7;
}
